<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div th:fragment="menu">
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/repertoire}">Repertoire</a></li>
            <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Login</a></li>
            <li sec:authorize="!isAuthenticated()"><a th:href="@{/register}">Registration</a></li>
            <li sec:authorize="hasRole('USER')"><a th:href="@{/user}">Profile</a></li>
            <li sec:authorize="hasRole('USER')"><a th:href="@{/tickets}">My tickets</a></li>
            <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin}">Dashboard</a></li>
            <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
        </ul>
    </div>
</body>
</html>